{% load static %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop with us</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style ="text-align: center;">
<a href="{% url 'vehicle_view' %}" class='btn btn-lg btn-primary mt-4'>Back</a>
<h1 style='font-weight: bold'>{{current_vehicle.vehicle_model}}</h1>
<h4>{{current_vehicle.vin}}</h4>
<a><img style="margin: 0 auto; border-radius: 10px" src='{{current_vehicle.image.url}}' width='300px' height= '220px' alt='image' class='img-thumbnail'></a>
<h4>{{current_vehicle.make}}</h4>
<h4>{{current_vehicle.sold}}</h4>
<h4>{{ current_vehicle.price}}</h4>


<button type='submit' class='btn btn-lg btn-success'>Shop now</button>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</body>

{% endblock %}